section.sto-top {
    margin: 80px 0; 

    .sto-textwrap {
        margin: 0 10%;
        text-align: center;

        .divider {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            p {
                text-align: center;
                width: 45%;
            }
        }
    }

    h4 {
        margin-bottom: 20px;
    }

}

.story2 {
    margin: 80px 0;
    background: #f6f6fa;
    padding: 80px 0;

    .full-width {
        width: 100%;
    }
    
    
}

.why-list {
    margin-top: 50px;
}

.wh-wrap {
    border: 1px solid #d8d5d5;
    padding: 30px;
    position: relative;
    padding-top: 50px;
    margin: 30px 0;
    height: 80%;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


    h4 {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1.4;
        font-weight: 300;
    }

    p {
        font-size: 16px;
    }

    img {
        width: 70px;
        position: absolute;
        top: -35px;
        background: #f6f6fa;
    }
}

.aspires {
    overflow: hidden;
    margin-bottom: 50px;


    .aspire-text {
        padding-right: 100px;
    } 

    .aspire-img {
        img {
            width: 50vw;
        }
    }
}

.care-top {
    margin: 50px 0;

    .care-top-text {
        h5 {
            margin-top: 50px;
        }
    
        ul {
            margin-bottom: 15px;
    
            li {
                padding-left: 20px;
                margin-bottom: 10px;
    
                &::before {
                    content: "";
                    background: url(../images/icon/star-blue.svg);
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 15px;
                    background-size: contain;
                    margin-top: 5px;
                }
            }
        }
    }
    

    .care-side-nav {
        border: 1px solid rgb(235, 235, 235);
        
        .side-nav-head {

            background: #3b78af;
            padding: 15px 20px; 
            color: #fff;
            display: flex;
            justify-content: space-between;

            h4 {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 0;
                font-weight: 400;
            }
            
        }

        ul {
            padding: 10px 0;

            li {
                display: flex;
                align-items: center;
                padding: 5px 20px;

                a {
                    font-family: 'Rubik', sans-serif;
                    color: #212529;
                    font-weight: 300;

                    &:hover {
                        color: #3b78af;

                        img {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    img {
                        width: 18px;
                        margin-left: 5px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5ms
                    }

                }
            }
        }

        
    }

}

.care-img {
    margin-bottom: 50px;

    .sec-head {
        margin-bottom: 50px;
    }

    .care-img-card {
        position: relative;

        &:hover {
            img.md-btn {
                opacity: 1;
                width: 60px ;
                height: 60px ;
            }
        }

        img {
            width:100%;
            height: 350px;
            object-fit: cover;
        }

        img.md-btn {
            background: #3b78af;
            border-radius: 50%;
            padding: 10px;
            width: 30px ;
            height: 30px ;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 1s;
        }
    }
}

.care-tags {
    padding: 30px 0 60px 0;

    ul {
        li {
            background: #f6f6fa;
            padding: 10px 20px;
            display: inline-block;
            border-radius: 30px;
            margin: 10px;
        }
    }
}

.service-contact {
    margin-bottom: 80px;

    .ser-con {
        width: 100%;
        min-height: 560px;
        background-position: center;
        background-size: cover;
        position: relative;
        padding: 80px 80px 30px;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #3b78af;
            opacity: 0.9;


        }

    }

    .sc-wrap {
        position: relative;
        z-index: 2;
        color: #fff;
        margin-bottom: 50px;

        iframe {
            width: 100%;
            height: 340px;
        }

        .sc-card {
            margin: 15px 0;
            display: flex;
            align-items: center;

            i {
                color: #fff;
                background: #8bbd40;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 15px;
                font-size: 14px;
            
            }

            p {
                margin-bottom: 0;
                font-size: 15px;
            }
        }

        .sc-form {
            margin: 15px 0;

            label {
                font-weight: 100;
            }

            input, textarea {
                display: block;
                width: 100%;
                border: 0;
                padding: 8px 10px;
                border: 1px solid #fff;

                &:focus {
                    outline: none;
                    border: 1px solid #8bbd40; 
                }

            }

            textarea {
                height: 150px;
            }

            button {
                background: #8bbd40;
                color: #fff;
                padding: 15px 30px;
                text-transform: uppercase;
                border: 0;
                font-size: 14px;
                border-radius: 30px;
                line-height: 1;

                &:focus {
                    outline: none;
                    background: #608d1d;
                }
            }
        }
    }
}

.team-article {
    padding: 80px 0;   

    .sec-head {
        margin-bottom: 20px;
    }
}

.faq {
    padding: 80px 0;

    .accordion {
        .card {
            border: 1px solid #cacaca;
            margin: 15px 0;

            .card-header {
                border-bottom: 0;
            }

            button {
                background-color: transparent;
                font-size: 18px;
                text-transform: uppercase;
                border: 0;
                cursor: pointer;
                display: block;
                width: 100%;
                text-align: left;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    

    .nav-link {
        border: 0;
        color: #333333;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
        padding-right: 30px;
        margin-right: 2px;

        &:first-child {
            padding-left: 0;
        }

        &:hover {
            border: 0;
            border-bottom: 1px solid #3b78af;  
        }
    }

    .nav-link.active {
        color: #3b78af;
        background-color: #fff;
        border: 0;
        border-bottom: 2px solid #3b78af;
    }

    .tab-content {

        .tips-wrapper {
            h5 {
                margin-top: 50px;

                &:first-child {
                    margin-top: 30px
                }
            }
        
            ul {
                margin-bottom: 15px;
        
                li {
                    padding-left: 20px;
                    margin-bottom: 10px;
                    position: relative;
        
                    &::before {
                        content: "";
                        background: url(../images/icon/star-blue.svg);
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        background-size: contain;
                        margin-top: 5px;
                    }
                }
            }
        }

    }
}

.test-wrap {
    padding: 80px 0;
    background: #f6f6fa;

    .test-card {
        background: #fff;
        padding: 50px 20px 130px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 88% 77%, 85% 88%, 82% 77%, 0% 77%);

        &:nth-child(even) {
            clip-path: polygon(0 77%, 100% 77%, 100% 15%, 13% 15%, 10% 4%, 7% 15%, 0 15%);
            padding: 90px 20px 120px;
            flex-direction: row-reverse;

            img {
                margin-right: 0px;
                margin-left: 50px;

            }
        }

        img {
            width: 100px; 
            height: 100px;
            border-radius: 50%;
            margin-right: 50px;
        }
    }


}

.contact {
    padding: 80px 0;
    background: #f6f6fa;

    .contact-article {
        background: #fff;
        display: flex;

        .contact-detail {
            width: 35%;
            background: #3b78af;
            color: #fff;
            min-width: 400px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .cd-header {
                margin-top: -50px;

                h4 {
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                }
            }

           

            .c-info-card {
                display: flex;
                margin: 15px 0;
                align-items: center;
            
                p {
                    margin-bottom: 0;
                    margin-left: 10px;
                }
            
            } 
        }
    }

    .contact-form {
        padding: 40px;
    }

    .cf-card {
        margin-bottom: 30px;

        label {
            font-size: 12px;
            font-weight: 100;
        }

        

        input, textarea {
            display: block;
            width: 100%;
            border: 0;
            padding: 8px 10px 8px 0;
            border: 1px solid #fff;
            border-radius: 4px;
            border-bottom: 1px solid #dcdcdc;

            &:focus {
                outline: none;
                border-bottom: 1px solid #8bbd40; 
            }

        }

        textarea {
            height: 150px;
        }

        .btn-submit {
            background: #8bbd40;
            color: #fff;
            padding: 15px 30px;
            text-transform: uppercase;
            border: 0;
            font-size: 14px;
            border-radius: 5px;
            line-height: 1;
            cursor: pointer;
            width: 170px;
            margin-left: auto;

            &:focus {
                outline: none;
                background: #608d1d;
            }
        }
    }

    .cf-card.mb-0 {
        text-align: right;
    }

    .contact-social {
        a {
            width: 35px;
            color: #fff;
            height: 35px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
                color: #3B78AF;
                background: #fff;
            }
        }
    }

    .contact-map {
        padding: 50px 0 0;

        iframe {
            width: 100%;
            height: 550px;
        }

    }

}

.event-head {
    margin: 80px 0;
}

.general-faq {
    padding: 40px 0;

    .faq-img {
        img {
            width: 100%;
        }
    }

    .accordion {
        .card {
            border: 0;
            border-bottom: 1px solid #cacaca;

            .card-header {
                padding: 20px 0;
                background: transparent;

                button {
                    padding-left: 0;
                }

            }

            .card-body {
                padding: 0;
            }

        }
    }
} 

.services-contact {
    margin-top: 50px;
    border: 1px solid #ebebeb;
    background: #f6f6fa;

    h4.heading-bg {
        background: #3b78af;
        padding: 15px 20px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 400;
    }

    .qc-form {
        margin: 15px 0;
        padding: 0 10px;
        font-size: 14px;
        font-weight: 100;
        text-align: center;

        input , textarea {
            width: 100%;
            display: block;
            padding: 8px 10px;
            border: 1px solid #fff;  
            
            &:focus {
                outline: none;
                border: 1px solid #8bbd40; 
            }
        }

        textarea {
            height: 150px;
        }

        button {
            background: #8bbd40;
            color: #fff;
            padding: 15px 30px;
            text-transform: uppercase;
            border: 0;
            font-size: 14px;
            border-radius: 30px;
            line-height: 1;
        }
    }

    .sc-card {
        margin: 15px 0;
        padding: 0 10px;
        display: flex;
        align-items: center;

        i{
            color: #fff;
            background: #8bbd40;
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 15px;
            font-size: 14px;
        }

        p {
            margin-bottom: 0;
        }
    }

}

.blog-detail {
    width: 50%;
    margin: auto;
    

    h4 {
        width: 60%;
        text-align: left;
        margin: 50px 0;
    }

    .cover-image {
        img {
            width: 100%;
        }
    }

    .blg-des {
        margin: 40px 0;

        h1,h2,h3,h4,h5,h6 {
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 400;
        }
    }
}

.event-detail {
    padding: 40px 0;

    .event-img {
        img {
            width: 100%;
        }
    }

    .eve-date {
        margin-top: 50px;

        .date {
            display: flex;
            align-items: center;

            i {
                font-size: 42px;
                margin-right: 15px;
                color: var(--blue);
            }

            span {
                display: block;
                margin-bottom: 5px;
                line-height: 1.2;
                font-weight: 300;
                font-size: 14px;

                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .full-desc {
        margin-top: 40px;

        h1,h2,h3,h4,h5,h6 {
            font-size: 24px;
            margin-bottom: 15px;
            font-weight: 400;

        }
    } 
}