@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --blue: #3B78AF;
  --green: #8BBD40;
  --text: #212529;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  color: var(--text);

}


a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:focus {
  text-decoration: none;
}

a.main-btn {
  background: var(--green);
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;

}

p {
  font-size: 17px;
  line-height: 1.7;
  font-weight: 300;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
} 

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

h2 {
  font-size: 54px;
  font-weight: 900;
}

h4 {
  font-size: 32px;
  font-weight: 700;
}

header .navbar ul.navbar-nav li.nav-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  z-index: 9;
}

.banner-overlay {
  opacity: 0.5;
  background: rgb(0,0,0);
background: linear-gradient(99deg, rgba(0,0,0,1) 0%, rgba(9,68,122,1) 0%, rgba(64,123,177,1) 100%);
}

.modal-body img {
  width: 100%;
}

.modal-dialog {
  width: 60%;
  max-width: 60%;

}

.mb-0 {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

.faq-title {
  font-size: 18px;
  font-weight: 500;
}